# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\do\Learning\MancalaGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
